<!-- <div style="text-align: center; line-height:130%;"> 

	<h1> This is a test input that should show up</h1>
</div> -->

<div class="trialpartWrapper" style="clear: both">
    <div style="align-content: center; height: 3em; width: 100%">
        <%= makeSoundButton({soundFile: file_sg }) %>
    </div>
</div>

<div class="trialpartWrapper" style="clear: both">
    <div><h4>Now listen to these words - one of them is the same</h4></div>
    <%s_options = [opt1, opt2, opt3].shuffle()%> <%console.log(s_options)%>
    <div style="float: left; height: 3em; width: 25%">
        <%= makeSoundButton({soundFile: s_options[0]}) %>
    </div>

    <div style="float: left; height: 3em; width: 50%">
        <%= makeSoundButton({soundFile: s_options[1]}) %>
    </div>

    <div style="float: right; height: 3em; width: 25%">
        <%= makeSoundButton({soundFile: s_options[2]}) %>
    </div>
</div>

<div class="trialpartWrapper" style="clear: both; text-align: center">
    Which was the correct word?
    <p>
        <%= makeScale({buttons: ["option 1","option 2", "option 3"], key:[s_options[0], s_options[1], s_options[2]]}) %>
    </p>
</div>

<div class="trialpartWrapper"><%= continueButton() %></div>

<div style="clear: both; height: 1px">&nbsp;</div>
