<!-- 
<div style="clear:both;">
	<div  style="align-content: center; height: 3em; width: 100%;">
		<h2> </h2>
	</div>
</div> -->

<div class="trialpartWrapper" style="text-align: left">
    <h4>Experimental Procedure:</h4>
    <p>
        You will initially be asked to listen to a word, after listening you will be asked
        to listen to three possible choices. Choose the choice that you feel
        matches the original word that you heard. You may practice the procedure
        below:
    </p>

    <%= continueButton("Continue") %>
</div>

<div class="trialpartWrapper" style="clear: both">
    <div style="align-content: center; height: 3em; width: 100%">
        <%= makeSoundButton({soundFile: "trialSounds\Hbd.mp3"}) %>
    </div>
</div>

<div class="trialpartWrapper" style="clear: both">
    <div><h4>Now listen to these words - one of them is the same</h4></div>

    <div style="float: left; height: 3em; width: 33%">
        <%= makeSoundButton({soundFile: "trialSounds\Hbd.mp3"}) %>
    </div>

    <div style="float: left; height: 3em; width: 33%">
        <%= makeSoundButton({soundFile: "trialSounds\hhbd.mp3" }) %>
    </div>

    <div style="float: right; height: 3em; width: 33%">
        <%= makeSoundButton({soundFile: "trialSounds\bd.mp3"}) %>
    </div>
</div>

<div class="trialpartWrapper" style="clear: both; text-align: center">
    Choose the correct option.
    <p>
        <%= makeScale({buttons: ["option one", "option two", "option three"], key:["Hbd", "hbd", "bd"],disable: false, rightAnswer: "first one", feedbackID: "#feedback", feedbackWrong: "No, you were supposed to press RIGHTANSWER.", feedbackRight: "Great! RIGHTANSWER is the right answer." }) %>
    </p>

    <div id="feedback" style="padding: 30px"></div>
</div>

<div class="trialpartWrapper"><%= continueButton() %></div>
